 # Data handling
pandas==2.1.4
numpy==1.26.3
sqlalchemy==2.0.25
psycopg2-binary==2.9.9

# dbt
dbt-core==1.7.4
dbt-postgres==1.7.4

# Data quality
great-expectations==0.18.8

# Analytics and forecasting
scikit-learn==1.4.0
prophet==1.1.4

# API
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3

# Dashboard
dash==2.16.1
plotly==5.18.0
dash-bootstrap-components==1.5.0

# Utilities
python-dotenv==1.0.0
requests==2.31.0
matplotlib==3.8.2

# Jupyter for exploration
jupyter==1.0.0
ipykernel==6.29.0


gunicorn==21.2.0

protobuf==4.25.3

pystan==3.3.0